<div class="background">
    <div class="title">
      Hi Oyindamola! <br> <br> Will You be My Valentine ?
    </div>
    <div class="row ans">
      <div class="col">
        <button type="button" class="btn btn-outline-danger ans-txt" data-bs-toggle="modal" data-bs-target="#exampleModal">Yes!</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-danger ans-txt" data-bs-toggle="modal" data-bs-target="#exampleModal2">No!</button>
      </div>

    </div>

  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        🎉 Yaay, <br> <br> Click on the proceed button to get your dinner details 😍
      </div>
      <div class="bodyy">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/congrats">Proceed!</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        Really ? <br> <br> Go back and Yes 🙄 !
      </div>
      <div class="bodyy">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back!</button>
      </div>
    </div>
  </div>
</div>